*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* header page section 1 start */
/* header page section 1 start */
/* header page section 1 start */
.header{
    height: 75px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(51, 94, 78);
    box-shadow: 1px 3px 10px #aaaaaa;
    z-index: 2;
}
.logoimages{
    height: 60px;
    width: 60px;
    margin-left: 180px;
    margin-top: 7px;
    position: relative;
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
 .HEADINGSARDAR{
    border: 1px solid black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 30%;
    padding-top: 20px; 
    margin-left: 2%;
 }
.header1{
    height: 50px;
    margin-left: 100px;
    /* margin-left: 0%; */
    padding-top: 25px;
    color: white;
    border: 1px solid black;
}
.home{
    border: 1px solid black;
    background-color: #3498DB ;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    transform: scale(1,1);
    
}
.home:hover{
    background-color: white;
    color: black;
    /* font-size: 1rem; */
    transform: scale(1.1);
}
#pages{
    text-decoration: none;
    font-size: 20px;
    font-weight:600;
    margin: 10px;
    color: white;
}
#pages:hover{
    color: #F1C40F ;
}
/* header page section 1 end */
/* header page section 1 end */
/* header page section 1 end */



/* section 2 start */
/* section 2 start */
/* section 2 start */
.collageimage{
    display: flex;
    background-color:#e7e9f7;
    border: 10px solid green;
    margin-top: 75px;

}
.box1{
    height: 560px;
    border: 1px solid black;
    width: 48%;
    text-align: center;
    margin-left:8%;
}
.box2{
    height: 400px;
    border: 1px solid black;
    width: 30%;
    background-image: url("IMG-20240323-WA0004.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 80px;
}
.heading1{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
    animation-name: blank;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    border: 10px solid blue;
    /* text-shadow: 3px 5px 4px black; */
}
@keyframes blank{
    0%{font-size: 10px; opacity: 0;}
    100%{font-size: 65px;}
}
.heading2{
    color: black;
    font-size: 28px;
    font-weight: bolder;
    font-family: Georgia;
    margin-top: 90px;
}
/* section 2 end */
/* section 2 end */
/* section 2 end */



/* section 3 start */
/* section 3 start */
/* section 3 start */
.section3{
    background-color: #505BA0;
    text-align: center;
    border: 1px solid black;

}
.thought{

    color: white;
    font-size: 30px;
    font-weight:sans-serif;
    letter-spacing: 2px;
    padding: 50px 210px 50px 210px;
    letter-spacing: -0.2px;
}
/* section 3 end */
/* section 3 end */
/* section 3 end */



/* start notes section 4  */
/* start notes section 4  */
/* start notes section 4  */
.section4{
    background-color: white;
}
.section-heading{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: black;
    border: 1px solid black;
    padding: 20px;
}
.notesbox-flex{
    display:flex;
    padding-bottom: 50px;
    border: 1px solid blue;
}
.notesbox{
    height: 350px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 305px;
    margin-top: 50px;
    text-align: center;
    display: grid;
    /* opacity: .7; */
    background-image: url("IMG-20240323-WA0003.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* border: 1px solid red; */
}
.notesbox:hover{
    opacity: 0.7;
    z-index: 1;
    /* margin-top: 29px; */
}
.notebox-images{
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-weight: bolder;
    border: 2px solid black;
    padding-top: 280px;
}
/* end notes section 4  */
/* end notes section 4  */
/* end notes section 4  */




/* about start */
/* about start */
/* about start */
.section5{
    background-color:#e7e9f7;
    padding-bottom: 50px;
}
.about{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: black;
    padding: 30px;
    border: 5px solid black;
}
#about-notes-s5{
    background-color: #e7e9f7;
    /* border: 1px solid blue; */
    margin-top: -30px;
}
#about-notes{
    color: black;
    /* border: 1px solid black; */
}
.creatimages-about{
    /* border: 1px solid red; */
    height: 550px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("coders.JPG");
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    margin-top: 130px;
}
.codersimages{
    height: 230px;
    width: 200px;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
    margin-left: 140px;
    /* margin-top: 80px; */
    text-align: center;
    display: grid;
}
/* about end */
/* about end */
/* about end */




/* contect start */
/* contect start */
/* contect start */
.section6{
    background-color:5 #505BA0A0;
    padding-bottom: 50px;
}
.contect{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: black;
    padding: 30px;
    /* border: 5px solid black; */
}
.creatimages-contect{
    /* border: 1px solid red; */
    height: 500px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("IMG-20240323-WA0006.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* contect end */
/* contect end */
/* contect end */



/* year subject images start  */
/* year subject images start  */
/* year subject images start  */
#Secoundyearimages1{
    background-image: url("m3.jpg");
}
#Secoundyearimages2{
    background-image: url("EEE.jpg");
}
#Secoundyearimages3{
    background-image: url("ds.jpg");
}
#Secoundyearimages4{
    background-image: url("fd.webp");
}
#Secoundyearimages5{
    background-image: url("oopm.jpg");
}


#thirdyearimage1{
    background-image: url("dc.jpg");
}
#thirdyearimage2{
    background-image: url("cs.jpg");
}
#thirdyearimage3{
    background-image: url("dbms2.jpg");
}
#thirdyearimage4{
    background-image: url("cgm.png");
}
#thirdyearimage5{
    background-image: url("ai.jpg");
}
#thirdyearimage6{
    background-image: url("aca.jpg");
}
#thirdyearimage7{
    background-image: url("ppl.webp");
}
#thirdyearimage8{
    background-image: url("toc.jpg");
}
#thirdyearimage9{
    background-image: url("cn.webp");
}
#thirdyearimage10{
    background-image: url("iot.gif");
}


#fourthyearimages1{
    background-image: url("Distributed.jpg");
}
#fourthyearimages2{
    background-image: url("Compiler design.jpg");
}
#fourthyearimages3{
    background-image: url("Web engineering.jpg");
}
#fourthyearimages4{
    background-image: url("MIR.jpg");
}
#fourthyearimages5{
    background-image: url("Data Science & Big Data.jpg");
}

/* year subject images end  */
/* year subject images end  */
/* year subject images end  */





/* 6th semester style start*/
/* 6th semester style start*/
/* 6th semester style start*/
.thirdyear-section{
    border: 20px double black;
    margin-left: 200px;
    margin-right: 200px;
}
.thirdyear-h1-heading{
    /* border: 1px solid black; */
    padding: 30px;
    display: flex;
    height: 120px;
    /* margin: 50px; */
}
.heading-logo{
    /* border: 1px solid blue; */
    height: 150px;
    width: 150px;
    margin-top: -10px;
    background-image: url("logo.png");
    background-size: cover;
    background-position: top;
}
.thirdyear-heading{
    /* border: 1px solid green; */
    font-size: 20px;
    margin: 10px;
}
.section-unit{
    /* border: 1px solid black; */
    margin-left: 20px;
    margin-top: 50px;
}
/* 6th semester style end*/
/* 6th semester style end*/
/* 6th semester style end*/






.notes-pdf{
    /* height: 50px; */
    border: 1px solid black;
    text-align: center;
    /* width: 100%; */
    margin: 50px;
    padding: 10px;
    background-color: #aaaaaa;
}
.notes-pdf-link{
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}
.notes-pdf-link:hover{
    color: blue;
}
.footer-images{
    height: 230px;
    background-image: url("images.png");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #3749c1;
    /* border: 1px solid black; */
}
#notes{
    background-color: #e7e9f7;
}