*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* header page section 1 start */
/* header page section 1 start */
/* header page section 1 start */
.header{
    height: 75px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(51, 94, 78);
    box-shadow: 1px 3px 10px #aaaaaa;
    z-index: 2;
}
.logoimages{
    height: 60px;
    width: 60px;
    margin-left: 180px;
    margin-top: 7px;
    position: relative;
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
@keyframes logo {
    0%{left: 0px; top: 0px;}
    50%{left: 490px; top: 0px;}
    100%{left: 0px; top: 0px;}
}
.header1{
    height: 50px;
    margin-left: 550px;
    padding-top: 25px;
    color: white;
    /* border: 1px solid black; */
}
.home{
    /* border: 1px solid black; */
    background-color: #3498DB ;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.home:hover{
    background-color: white;
    color: black;
}
#pages{
    text-decoration: none;
    font-size: 20px;
    font-weight:600;
    margin: 20px;
    color: white;
}
#pages:hover{
    color: #F1C40F ;
}
/* header page section 1 end */
/* header page section 1 end */
/* header page section 1 end */



/* section 2 start */
/* section 2 start */
/* section 2 start */
.collageimage{
    display: flex;
    background-color:#e7e9f7;
    /* border: 10px solid green; */
    margin-top: 75px;

}
.box1{
    height: 560px;
    /* border: 1px solid black; */
    width: 48%;
    text-align: center;
    margin-left: 150px;
}
.box2{
    height: 400px;
    /* border: 1px solid black; */
    width: 30%;
    background-image: url("IMG-20240323-WA0004.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 80px;
}
.heading1{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 140px;
    animation-name: blank;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    /* border: 10px solid blue; */
    text-shadow: 3px 5px 4px black;
}
@keyframes blank{
    0%{font-size: 10px; opacity: 0;}
    100%{font-size: 60px;}
}
.heading2{
    color: #283796;
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia;
    margin-top: 30px;
}
/* section 2 end */
/* section 2 end */
/* section 2 end */



/* section 3 start */
/* section 3 start */
/* section 3 start */
.section3{
    background-color: #505BA0;
    text-align: center;
    /* border: 1px solid black; */

}
.thought{

    color: white;
    font-size: 30px;
    font-weight:sans-serif;
    letter-spacing: 2px;
    padding: 50px 210px 50px 210px;
    letter-spacing: -0.2px;
}
/* section 3 end */
/* section 3 end */
/* section 3 end */



/* start notes section 4  */
/* start notes section 4  */
/* start notes section 4  */
.section4{
    background-color: white;
}
.section-heading{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: black;
    /* border: 1px solid black; */
    padding: 20px;
}
.notesbox-flex{
    display:flex;
    padding-bottom: 50px;
    /* border: 1px solid blue; */
}
.notesbox{
    height: 350px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-left: 305px;
    margin-top: 50px;
    text-align: center;
    display: grid;
    opacity: .7;
    background-image: url("IMG-20240323-WA0003.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* border: 1px solid red; */
}
.notesbox:hover{
    opacity: 1;
    z-index: 1;
    transform: scaleX(2.5rem);
    /* margin-top: 29px; */
}
.notebox-images{
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-weight: bolder;
    /* border: 2px solid black; */
    padding-top: 280px;
}
/* end notes section 4  */
/* end notes section 4  */
/* end notes section 4  */




/* about start */
/* about start */
/* about start */
.section5{
    background-color:#e7e9f7;
    padding-bottom: 50px;
}
.about{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: black;
    padding: 30px;
    /* border: 5px solid black; */
}
#about-notes-s5{
    background-color: #e7e9f7;
    /* border: 1px solid blue; */
    margin-top: -30px;
}
#about-notes{
    color: black;
    /* border: 1px solid black; */
}
.creatimages-about{
    /* border: 1px solid red; */
    height: 550px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("coders.JPG");
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    margin-top: 30px;
}
/* about end */
/* about end */
/* about end */




/* contect start */
/* contect start */
/* contect start */
.section6{
    background-color:5 #505BA0A0;
    padding-bottom: 50px;
}
.contect{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: black;
    padding: 30px;
    /* border: 5px solid black; */
}
.creatimages-contect{
    /* border: 1px solid red; */
    height: 500px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("IMG-20240323-WA0006.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* contect end */
/* contect end */
/* contect end */



/* year subject images start  */
/* year subject images start  */
/* year subject images start  */
#thirdyearimage1{
    background-image: url("aca.jpg");
}
#thirdyearimage2{
    background-image: url("ppl.webp");
}
#thirdyearimage3{
    background-image: url("toc.jpg");
}
#thirdyearimage4{
    background-image: url("cn.webp");
}
#thirdyearimage5{
    background-image: url("iot.gif");
}
/* year subject images end  */
/* year subject images end  */
/* year subject images end  */





/* 6th semester style start*/
/* 6th semester style start*/
/* 6th semester style start*/
.thirdyear-section{
    border: 20px double black;
    margin-left: 200px;
    margin-right: 200px;
}
.thirdyear-h1-heading{
    /* border: 1px solid black; */
    padding: 30px;
    display: flex;
    height: 120px;
    /* margin: 50px; */
}
.heading-logo{
    /* border: 1px solid blue; */
    height: 150px;
    width: 150px;
    margin-top: -10px;
    background-image: url("logo.png");
    background-size: cover;
    background-position: top;
}
.thirdyear-heading{
    /* border: 1px solid green; */
    font-size: 20px;
    margin: 10px;
}
.section-unit{
    /* border: 1px solid black; */
    margin-left: 20px;
    margin-top: 50px;
}
/* 6th semester style end*/
/* 6th semester style end*/
/* 6th semester style end*/






.notes-pdf{
    /* height: 50px; */
    border: 1px solid black;
    text-align: center;
    /* width: 100%; */
    margin: 50px;
    padding: 10px;
    background-color: #aaaaaa;
}
.notes-pdf-link{
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}
.notes-pdf-link:hover{
    color: blue;
}
.footer-images{
    height: 230px;
    background-image: url("images.png");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #3749c1;
    /* border: 1px solid black; */
}
#notes{
    background-color: #e7e9f7;
}






@media (max-width:960px){
    #pages{
        text-decoration: none;
        font-size: 15px;
        font-weight:600;
        margin: 5px;
        margin-top: 20px;
        color: white;
    }
    .header1{
        height: 70px;
        margin-left: 10px;
        padding-top: 5px;
        color: white;
        display: flex;
        width: 70%;
    }
    .logoimages{
        height: 60px;
        width: 60px;
        margin-left: 20px;
        position: relative;
        animation-name: logo;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-timing-function: linear;
    }
    @keyframes logo {
        0%{left: 0px; top: 0px;}
        50%{left: 0px; top: 0px;}
        100%{left: 0px; top: 0px;}
    }
    .home{
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
    #pages:hover{
        color: gold;
    }
    .collageimage{
        display: inline-block;
        width: 100%;
        /* border: 10px solid rgb(240, 29, 29); */
    }
    .box1{
        height: 280px;
        font-size: 20px;
        /* border: 1px solid blue; */
        width: 100%;
        margin-left: 0px;
    }
    .box2{
        height: 300px;
        width: 100%;
        /* border: 10px solid gray; */
        margin-top: -30px;
    }
    .heading1{
        font-size: 30px;
        /* border: 10px solid black; */
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-name: blue;
        margin-top: 40px;
        width: 100%;
    }
    @keyframes blue{
        0%{font-size: 10px; opacity: 0;}
        100%{font-size: 30px;}
    }

    .heading2{
        font-size: 20px;
        /* margin-top: -20px; */
    }
    .section3{
        font-size: -12px;
        padding: 0px;
    }
    
    
}
